/*
 * 网页水印
 *
 * @author lihaitao
 * @date 2021/4/26
 */
@charset "utf-8";

:root {
  --color: '';
  --opacity: '';
  --rotate: '';
  --watermark-width: '';
  --watermark-height: '';
  --font-family: '';
  --font-size: '';
  --x-offset: '';
  --y-offset: '';
  --x-space: '';
  --y-space: '';
  --repeat-row-width: '';
}

.watermark-layer {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: var(--font-family);
	font-size: var(--font-size);
	overflow: hidden;
	z-index: 9999999999;
	position: fixed;
}

/* 固定位置水印 */

.position-watermark {
    display: inline-block;
    width: var(--watermark-width);
    height: var(--watermark-height);
    color: var(--color);
    opacity: var(--opacity);
    position: absolute;
    transform: rotate(var(--rotate));
	-ms-transform: rotate(var(--rotate)); 	/* IE 9 */
	-moz-transform: rotate(var(--rotate)); 	/* Firefox */
	-webkit-transform: rotate(var(--rotate)); /* Safari 和 Chrome */
	-o-transform: rotate(var(--rotate)); 	/* Opera */
	line-height: 1;
}

.position-watermark.left-top {
    left: var(--x-offset);
    top: var(--y-offset);
}

.position-watermark.left-bottom {
    left: var(--x-offset);
    bottom: var(--y-offset);
}

.position-watermark.right-top {
    right: var(--x-offset);
    top: var(--y-offset);
}

.position-watermark.right-bottom {
    right: var(--x-offset);
    bottom: var(--y-offset);
}

.position-watermark.center {
    left: calc(50% - var(--watermark-width) / 2);
    top: calc(50% - var(--watermark-height) / 2);
}

/* 重复水印 */

.repeat-watermark {
	opacity: var(--opacity);
	overflow: hidden;
}

.repeat-watermark .row {
	display: inline-block;
	margin-top: var(--y-space);
	width: var(--repeat-row-width);
}

.repeat-watermark .row.first-row {
	margin-top: var(--y-offset);
}

.repeat-watermark .row .col {
	display: inline-block;
	width: var(--watermark-width);
	height: var(--watermark-height);
	margin-left: var(--x-space);
	color: var(--color);
	transform: rotate(var(--rotate));
	-ms-transform: rotate(var(--rotate)); 	/* IE 9 */
	-moz-transform: rotate(var(--rotate)); 	/* Firefox */
	-webkit-transform: rotate(var(--rotate)); /* Safari 和 Chrome */
	-o-transform: rotate(var(--rotate)); 	/* Opera */
	line-height: 1;
}

.repeat-watermark .row .col.first-col {
	margin-left: var(--x-offset);
}